<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" /></head>

<article>
<header>
  <h1>Salt & Sage</h1>
</header>
  <img src="/assets/images/cocktail.jpg" alt="Bright and colorful cocktails">
</article>
<article>
  <header>
    <h2>Story Item</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias neque deserunt autem? Eius sunt, voluptate, cumque consequatur sequi repellendus deleniti laborum in odio soluta quam, temporibus ipsa labore a quis.
  </p>
</article>
<article>
  <header>
    <h2>Story Item</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad recusandae sapiente eos placeat inventore voluptatem maxime iste velit, incidunt quam, veniam nostrum! Officiis veniam, alias odio voluptatem consectetur debitis magnam.
  </p>
</article>
<article>
  <header>
    <h2>Story Item</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptas placeat reprehenderit. Amet doloribus facere mollitia odio obcaecati nihil dolore culpa asperiores architecto dolorum. Minus fuga exercitationem dolore deleniti! Voluptates.
  </p>
</article>
