<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" /></head>

<article>
<header>
  <h1>Salt & Sage</h1>
</header>
  <img class="fluid" src="/assets/images/cocktail.jpg" alt="Bright and colorful cocktails">
</article>

<article>
  <header>
    <h2>Menu</h2>
  </header>
   <img class="fluid" src="/assets/images/S.png" alt="Salt & Sage menu">
</article>



