<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" /></head>

<style>
.landing {
  display: flex;
  margin: 0;
  background-image: url("/assets/images/cocktail.jpg");
  background-size: cover;
 flex-grow: 1;
 align-items: center;
 justify-content: center;
}

.landing h1{
  text-align: center;
 color: white;
 font-size: 64px;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

</style>


<div class="landing">

  <h1>SALT & SAGE</h1>

  {{!-- <img class="fluid" src="/assets/images/cocktail.jpg" alt="Bright and colorful cocktails"> --}}
</div>





