<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" /></head>

<div class="container">
<header>
  <h2>Login</h2>
  <p>Sign in to make a reservation</p>
</header>
<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="contrast" type="submit">login</button>
  </div>
</form></div>

<script src="/js/login.js"></script>