<style>
    .call-to-action {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0 30px;
    }

    .call-to-action button {
        width: fit-content;
        margin-bottom: 0;
        padding: 8px;
        background-color: black;
    }

    .call-to-action button:hover {
        background-color:
            #228b22;
    }
</style>

<div class="call-to-action">Ready to make a reservation?
    <a href="/reservation">
    <button>Click here</button>
    </a>

</div>

<article>
    <img class="fluid" src="/assets/images/S.png" alt="Salt & Sage menu" />
</article>

{{! IF logged in ready to make your reservation? Click here }}