<header>
  <h2>Dashboard</h2>
</header>

<article>
  <footer>
    <a href="#" role="button">Home</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="secondary">Reservations</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="contrast">Logout</a>
  </footer>
</article>


