// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$cucumber: #bce696;
$lime:#467751;
$pink: #fd6d6d;
$brown: #3f2835;
$beige-light: #ecc2c2;
$beige-lighter: #e7e2e2;

// Update Bulma's global variables
$background: $beige-lighter;
$family-sans-serif: "Nunito", sans-serif;
$text: $brown;
$grey-dark: $beige-light;
$grey-light: $beige-lighter;
$primary: $pink;
$link: $purple;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

// Import the rest of Bulma
@import "../path/to/bulma";